language: android

android:
  components:
    - tools
    - tools
    - platform-tools
    - android-25
    - build-tools-25.0.1
    - extra-android-m2repository

jdk:
  - oraclejdk8

after_success:
  - .buildscript/deploy_snapshot.sh

env:
  global:
    - secure: "ZNLHIR0QGYx49vJi4FMEMvieYErCj0zncygNDMCSDWFmzwVrPEZ+a3P4aeVO3utSDADBI6/sW3u2qjhZmr23hMlgEffk3rDKQVoVzSBYUIHh+A0IsOiJVCSfA0U0xJpokJDrAc/JI5cIx3c7wyO+lUja6Im9/KVsrAERfgM0Gs60tpJTs7Dx034NJNCG3oPZBsXn82laT9RWKIzSSXJEwR1fT7l5WSEIk8N5vdEsE4kNKbA1EUCpnihUmrid6W7oBAmLg8fJidbm6Qgd5yklOkHbTXrMaB3ul4eJtsn+8Glx0lHT6EJmZkxsIDZmQkJ4A/xfuJDqoAlJa41lvxJ/27CzVWKDkn6slnfE3pYzxF5z27EyR+IdtfKILDGREgImGew0IF8LW5J+ynnWGLDSAzP8N43j56gLHqoysSCOEmscirOsEQTqcLJk4pybYZTLkTsDhTZ3Qf/H6eDfVp2OcS93Hot51bjVrA2VhJSfzNLpfb2Xh/A++3k0CH3VEfgqHooSSyBF50cWpaW8nNxO1ISkLjkdY30IqDfibLQQkFq1GRdV8wSs1RdvPePay+A7VmwRFtZ4FqLf9FuMRj2YtTYsYT8pBLpy4IKSV4NV56ghSijI1iYN9CCDOwCO3I/mGmf6eXp/R57EY7uqHMaNOH2Ok+Cczxuh6l6iHdcWDjo="
    - secure: "p4EUZ/mpej7D1Z1FNRiEVFJo2GNKckMBla0S07geOoMDr0I6WmW7KC+dc7aDvrAxyts4m5XQ0+UYOnEKvzWC85N7Jw3K/VyS26Q7bc1sC8+TJlfmqZaoPgFvlA89omLFK3I31tvQ77IOtNbeI2iZjYvKtT0YXPfWAzU5ifkMgbUxKA47Egf7ajgFoPXnicQ/zg1ohtoGQZrRJgq8YjSRavDx2rWtURghHbxdXbpgC7YoI6zJBxjycSnp7uDGwjDc4kasjMFM9DwLMpKme26oTggTkos2ciKSo++vFtGQJ3o+te50hSdaAYQ2OyYZWkk0Mryi2jXSFLcksWEyWfrOw+fG0NMyQWWy8pRRYGv3hSRwcS54rqC7GPso48DZKs/dDk6W5+leHZA8+xN8dZCbPv4163QVBUHJ7f29yUG7O95uDM1RfLD7ue8r2M76i7I1y9gggZFUP97H5l9+qSYRsynGh0HOwvQxc812bh3LMdbQwQ6/g0ST+kfQ2n01863k1M7rbONLY6v5wrkC9zntObpBtOhwCn56qfiuT5MhCBfkrBU3ah9HvYp7CJHQDJD4hVXczt5CvsVCEv7kstu5+vDZQn9kleAzsTYVJe8JjDqMXMf/oM3fO79CyzTGPzHRvF5OcaL7Pt6U7BGv/57F3HQ1XYuOeSWTUDGqa+Z+BQs="

branches:
  except:
    - gh-pages

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.gradle
